.search-section {
  background-color: #f8f9fa;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.searchbar input[type="text"] {
  width: 70%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.searchbar input[type="button"] {
  margin-top: 5px;
}

.card {
  transition: transform 0.3s;
  margin-top: 20px;
  color: black;
   background: linear-gradient(to right, #e3f2fd, #fce4ec);
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid #020202;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.988);
   background: linear-gradient(to right, #fce4ec, #e3f2fd);
   filter: blur(none);
}


.update-btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.update-btn:hover {
  background-color: #007bff;
  color: white;
  transform: scale(1.05);
}

.delete-btn {
  border-radius: 20px;
  padding: 6px 16px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover {
  background-color: #dc3545;
  color: white;
  transform: scale(1.05);
}
.emp-card {
   background-origin: padding-box;
   background-clip: content-box;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.611);
   /* filter: blur(0.5px); */

}

.dashboard-container {
  padding: 20px;
  background: linear-gradient(to right, #e3f2fd, #fce4ec);
}

.emp-dashboard {
   background: linear-gradient(to right, #e3f2fd, #fce4ec);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  align-items: center;  
}
