/* Navbar.css */

.custom-navbar {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  border-radius: 12px;
  margin: 10px;
  padding: 10px 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.glass-navbar:hover {
  backdrop-filter: blur(15px);
  background: rgba(121, 121, 119, 0.159);
}

.logo-img {
  height: 50px;
  transition: transform 0.3s ease;
}

.logo-img:hover {
  transform: scale(1.1);
}

.brand-name {
  font-size: 1.5rem;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  transition: color 0.3s ease;
}

.brand-name:hover {
  /* color: gold; */

   text-shadow:  1px 2px goldenrod;
}

.nav-links .nav-link {
  margin: 0 10px;
  font-weight: 500;
  position: relative;
  color: black;
  transition: color 0.3s ease;
  /* font-weight: bolder; */
  text-shadow:  1px 3px whitesmoke;
}

.nav-links .nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: whitesmoke;
  transition: width 0.3s;
  position: absolute;
  bottom: 0;
  left: 0;
}

.nav-links .nav-link:hover::after {
  width: 100%;
}

.nav-links .nav-link:hover {
  color: black;
  font-weight: bold;
   text-shadow:  1px 3px gold;
}

.logout-btn {
  transition: all 0.3s ease;
}

.logout-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.2);
}


.logout-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 8px;
  border-radius: 50%;
  background-color: black;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

.logout-icon:hover {
  background-color: orangered;
  transform: scale(1.1);
  color: black;
}

.logout-svg {
  width: 26px;
  height: 26px;
  color: orangered;
}

.logout-svg:hover {
  color: black;
  transition: color 0.3s ease;
}
